<div class="container">
  <h1>Become a Sitter</h1>

  <%= form_with model: current_user, url: become_sitter_users_path, method: :post do |f| %>
    <div class="mb-3">
      <%= f.label :bio %>
      <%= f.text_area :bio, class: "form-control" %>
    </div>

        <div class="col-12 d-flex gap-2 pt-2">
          <%= f.submit "Tornar-se cuidador", class: "btn btn-success" %>
          <%= link_to "Cancelar", root_path, class: "btn btn-outline-secondary" %>
        </div>
      <% end %>
    </div>

    <%= f.submit "Become a sitter", class: "btn btn-primary" %>
  <% end %>
</div>
