<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo_horizontal1.png" %> <%# logo size/quality unchanged %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <% if current_user.sitter? %>
              <%= link_to sitter_users_path, class: "nav-link" do %>
                <i class="fa-solid fa-house"></i> Dashboard
              <% end %>
            <% else %>
              <%= link_to become_sitter_users_path, class: "nav-link" do %>
                <i class="fa-solid fa-house"></i> Quero ser sitter
              <% end %>
            <% end %>
          </li>

          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= cl_image_tag current_user.photo.key, class: "avatar", alt: "dropdown menu" %> <%# stays round as you have it %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if current_user.sitter? %>
                <%= link_to "Dashboard", sitter_users_path, class: "dropdown-item" %>
              <% end %>
              <%= link_to "Datas disponíveis", new_availability_path, class: "dropdown-item" %>
              <%= link_to "Minhas reservas", bookings_path, class: "dropdown-item" %>
              <%= link_to "Desconectar", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Criar conta ou entrar", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
