<div class=container>
<h1>Busca de Pet Sitters</h1>

<%= form_with url: root_path, method: :get, local: true do |form| %>
  <%= form.label :city, "Cidade" %><br>
  <%= form.text_field :city, value: params[:city] %><br><br>

  <%= form.label :start_date, "Disponível a partir de" %><br>
  <%= form.date_field :start_date, value: params[:start_date] %><br><br>

  <%= form.label :end_date, "Disponível até" %><br>
  <%= form.date_field :end_date, value: params[:end_date] %><br><br>

  <%= form.submit "Buscar" %>
<% end %>

<hr>

<% if @sitters.present? && @sitters.any? %>
  <% @sitters.each do |sitter| %>
    <div>
      <p><strong>Nome:</strong> <%= link_to sitter.name, user_path(sitter) %></p>
      <p><strong>Endereço:</strong> <%= sitter.address %></p>
      <p><strong>Email:</strong> <%= sitter.email %></p>
      <p><strong>Disponibilidades:</strong></p>
      <ul>
        <% sitter.availabilities.each do |availability| %>
          <li><%= availability.date.strftime("%d/%m/%Y") %></li>
        <% end %>
      </ul>
    </div>
    <hr>
  <% end %>
<% else %>
  <p>Nenhum sitter encontrado</p>
<% end %>
</div>
