<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <h1 class="mb-4 text-center">Encontre um Pet Sitter</h1>

        <%= simple_form_for :search, url: root_path, method: :get, html: { class: 'row g-2 align-items-end' } do |f| %>
          <div class="col-md-3">
            <%= f.input :city, label: false, placeholder: "Onde o seu pet ficará?", wrapper: false, input_html: { value: params.dig(:search, :city), class: 'form-control' } %>
          </div>

          <div class="col-md-2">
            <%= f.input :start_date, label: false, wrapper: false, placeholder: "Check-in", input_html: { type: 'date', value: params.dig(:search, :start_date), class: 'form-control' } %>
          </div>

          <div class="col-md-2">
            <%= f.input :end_date, label: false, wrapper: false, placeholder: "Check-out", input_html: { type: 'date', value: params.dig(:search, :end_date), class: 'form-control' } %>
          </div>

          <div class="col-md-2">
            <div class="d-grid h-100">
              <%= f.button :submit, "Buscar", class: "btn btn-primary h-100" %>
            </div>
          </div>
        <% end %>

      <hr>

<% if @sitters.present? && @sitters.any? %>
  <% @sitters.each do |sitter| %>
    <div>
      <p><strong>Nome:</strong> <%= link_to sitter.name, user_path(sitter) %></p>
      <p><strong>Endereço:</strong> <%= sitter.address %></p>
      <p><strong>Email:</strong> <%= sitter.email %></p>
      <p><strong>Disponibilidades:</strong></p>
      <ul>
        <% sitter.availabilities.each do |availability| %>
          <li><%= availability.date.strftime("%d/%m/%Y") %></li>
        <% end %>
      </ul>
    </div>
    <hr>
  <% end %>
<% else %>
  <p>Nenhum sitter encontrado</p>
<% end %>
<%= link_to "Login", new_user_session_path %>
<%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}%>
</div>
