<h1>Nova Disponibilidade</h1>

<%= form_with url: availabilities_path, method: :post, local: true do |form| %>
  <% if alert.present? %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <div class="form-group">
    <%= label_tag :start_date, "Data de início" %><br>
    <%= date_field_tag :start_date, params[:start_date], min: Date.current, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :end_date, "Data de término" %><br>
    <%= date_field_tag :end_date, params[:end_date], min: Date.current, class: "form-control" %>
  </div>

  <div class="form-group mt-2">
    <%= submit_tag "Criar Disponibilidades", class: "btn btn-success" %>
    <%= link_to "Cancelar", availabilities_path, class: "btn btn-secondary" %>
  </div>
<% end %>
