<!DOCTYPE html>
<html>
  <head>
    <title>PetCare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag 'favicon1.png', type: 'image/png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= render "shared/navbar" %>
  <!-- <% if user_signed_in? %>
    Hello, <%= current_user.name %> | <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Login', new_user_session_path %> |
    <%= link_to 'Sign up', new_user_registration_path %>
  <% end %>-->
<body>
  <main>
    <%= yield %>
  </main>

  <footer>
    <div class="container">
      <p>© 2025 Pet Care. Todos os direitos reservados.</p>
      <nav>
        <a href="/sobre">Sobre</a> |
        <a href="/contato">Contato</a> |
        <a href="/privacidade">Política de Privacidade</a>
      </nav>
    </div>
  </footer>
</body>
</html>
